.gpe-top-wrap{
	display:none;
}
.gpe-top-wrap h4{
	margin-top:1rem;
}

/*report css*/
footer{
	page-break-after:always;
}
.gpe-watershed-report{
	margin:0px; margin-top:-10px; padding:0px; width:670px; background-color:#fff; 
}
.gpe-watershed-report h2{
	margin-top:0; margin-bottom:4px; font-size:18px;
}
.gpe-watershed-report h3{
	margin-top:0; font-size:16px;
}
.gpe-watershed-report h4{
	font-size:14px;
}
.gpe-watershed-report h5{
	font-size:13px; text-decoration:underline;
}
.gpe-watershed-report h6{
	font-size:13px; font-weight:bold; margin-bottom:5px; margin-top:0;
}
.gpe-report-header-wrap{
	text-align:center;
}
.gpe-r1d{
	margin-left:10px;
}
.gpe-r1n{
	margin-right:5px; font-weight:normal;
}
.gpe-r1n span, .gpe-r1d span{
	font-weight:bold;
}
table {
    border-collapse: collapse;
}
td, th {
    border:1px solid #999; padding:0.25rem; text-align:left;
} 
th{
	font-weight:normal; color:#000;
}


