.gpe-top-wrap h4{
	margin-top:1rem;
}
.toc{
	margin-top:20px;
}
.toc .toggle-btn{
	margin-bottom:-10px; margin-top:-6px;
}
.toc .toggle-btn label{
	border-radius:0 !important;
}
.toc .toggle-btn input:checked+label{
	cursor:pointer !important; 
}
.toc .toggle-btn input:checked+label:hover{
	background-color:#00a4ea;
}	
.toc h5{
	font-size:12px; color: #5d6165; margin:8px 0 4px 0;
}
.toc label{
	margin-right:20px; margin-bottom:6px !important;
}
.groupDiv{
	display:none; padding:16px 0px 5px 10px; border:1pt solid #ddd;
	margin:-18px 7px 0px 0px;
}


