 .dropdownWrap{
  position: absolute; right:10px; top: 10px;
}
.gpe-top-wrap h4{
	margin-top:1rem;
}
.toc{
	margin-top:20px; margin-bottom:30px;
}
.toc .toggle-btn{
	margin-bottom:-10px; margin-top:-6px;
}
.toc .toggle-btn label{
	border-radius:0 !important;
}
.toc .toggle-btn input:checked+label{
	cursor:pointer !important; 
}
.toc .toggle-btn input:checked+label:hover{
	background-color:#00a4ea;
}	
.toc h5{
	font-size:12px; color: #5d6165; margin:8px 0 4px 0;
}
.toc label{
	margin-right:20px; margin-bottom:6px !important;
}
.toc .slider-container{
  margin:0;
}
.tgd{
	margin-bottom: 10px; color:#101d28;
}
.groupDiv{
	display:none; padding:16px 0px 5px 10px; border:1pt solid #ddd;
	margin:-18px 7px 0px 0px;
}
#hideDesc{
	text-align:center; margin-top:4px; cursor:pointer; color:#623C25; font-weight:bold;
}
#hideDesc:hover{
	color:blue;
}
#hideDesc:active{
	color:darkblue;
}
#show-single-plugin-mode-help{
  display:none;
}
.appReportWrap .gpe-r1n span, .appReportWrap .gpe-r1d span{
	color:#3e6c89;
}
.appReportWrap .gpe-r1d{
	margin-left:10px; margin-right:20px; margin-top:-4px;
}
.appReportWrap{
	display:none; border-bottom:1pt solid #ccc;
}
.appReportWrap div{
	margin-bottom:6px;
}
.appReportWrap h4{
	margin-bottom:0.5rem;
}
.disclaimer{
  font-size: 11px; color: #82878c; margin-top: 10px; border-top: 1pt solid #ccc; 
  padding:15px 10px 10px;
}
/*report css*/
.gpe-watershed-report{
	display:none; background-color:#fff; margin-bottom:40px; padding: 0 10px;
}
.gpe-watershed-report h2{
	margin-top:0; margin-bottom:4px; font-size:18px;
}
.gpe-watershed-report h3{
	margin-top:0; font-size:16px;
}
.gpe-watershed-report h4{
	font-size:14px;
}
.gpe-watershed-report h5{
	font-size:13px; text-decoration:underline;
}
.gpe-watershed-report h6{
	font-size:13px; font-weight:bold; margin-bottom:5px; margin-top:0;
}
.gpe-report-header-wrap{
	text-align:center; padding-top: 70px
}
.gpe-watershed-report .gpe-r1d{
	margin-left:10px;
}
.gpe-watershed-report .gpe-r1n{
	margin-right:5px; font-weight:normal;
}
.gpe-watershed-report .gpe-r1n span, .gpe-watershed-report .gpe-r1d span{
	font-weight:bold;
}
.gpe-watershed-report .esriSimpleSliderTL{
	top:5px; left: 5px;
}
table {
    border-collapse: collapse;
}
td, th {
    border:1px solid #999; padding:0.25rem; text-align:left;
} 
th{
	font-weight:normal; color:#000;
}
.printMapDiv{
	margin-top:10px; 
}
.printMap{
	width:6.5in; height:3.5in; position:relative; border: 1pt solid #333;
}
.pageBreakb{
	position:relative;
}
.reportControls{
	border-bottom: 1pt solid #ccc; text-align: center; padding-top: 14px; position: absolute; 
	margin-top:-10px; z-index: 300; background: #fff; width: 100%; margin-left: -8px;
    box-shadow: 0 7px 6px -6px #aaa;
}
.printLegend .legend-layer{
	float:unset; margin-bottom:4px; 
}
.printLegend {
    display: flex; flex-direction: column; flex-wrap: wrap; margin-top:10px; max-height: 240px; width: 680px;
}
.printLegend .item-label {
    position: relative; top: -4px;
} 
.printLegend .legend-title{
	text-decoration: underline;
}


@media screen and (max-width: 736px) {
  .nav-main-title{
    width:200px !important;
    font-size:13px !important;
    overflow:auto !important;
    white-space:normal !important;
  }
} 
