@media print {
	@page { 
        size: 8.5in 11in portrait;
		margin:13mm;
    }	
	.gpe-watershed-report{
		visibility:visible !important;
	}
	table {
  		page-break-inside: avoid;
	}
	.pgBreak{
		page-break-after:always;
	}
	.pgBreak{
		break-after:always;
	}
	#map-0{
		display:none;
	}
	.layer-legends,.legend-header{
		display:none;
	}
}
